/*-- -------------------------- -->
<---          Banner            -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #banner-850 {
    /* 175px - 260px top */
    padding: clamp(10.9375rem, 20vw, 16.25rem) 1rem clamp(6.25rem, 14vw, 12vw);
    /* clips svg wave from causing overflow issues */
    overflow: visible;
    position: relative;
    z-index: 1;
  }
  #banner-850 .cs-container {
    text-align: center;
    width: 100%;
    max-width: 80rem;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    gap: 1rem;
  }
  #banner-850 .cs-int-title {
    /* 39px - 61px */
    font-size: clamp(2.4375rem, 6.4vw, 3.8125rem);
    font-weight: 900;
    line-height: 1.2em;
    text-align: inherit;
    margin: 0;
    color: var(--bodyTextColorWhite);
    position: relative;
  }
  #banner-850 .cs-banner-text {
    font-size: clamp(0.875rem, 1.5vw, 1rem);
    font-weight: 400;
    text-align: left;
    margin: 0;
    color: var(--bodyTextColorWhite);
    opacity: .8;
    position: relative;
  }
  #banner-850 .cs-background {
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
  }
  #banner-850 .cs-background:before {
    /* background color overlay */
    content: "";
    position: absolute;
    display: block;
    height: 100%;
    width: 100%;
    background: #1a1a1a;
    opacity: .64;
    top: 0;
    left: 0;
    z-index: 1;
  }
  #banner-850 .cs-background img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    /* Makes img tag act as a background image */
    object-fit: cover;
  }
  #banner-850 .cs-wave {
    /* we're stretching the svg wider than the viewport so it's taller and has more of a presence */
    width: 48rem;
    height: auto;
    display: block;
    position: absolute;
    left: 50%;
    bottom: -2px;
    transform: translateX(-50%);
    z-index: -1;
  }
}
/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
  #banner-850 .cs-background:before {
    opacity: 1;
    background: linear-gradient(90.01deg, rgba(0, 0, 0, 0.8) 16.86%, rgba(0, 0, 0, 0) 100%);
  }
  #banner-850 .cs-banner-text {
    width: 50%;
  }
  #banner-850 .cs-wave {
    width: 100%;
    left: 0;
    transform: none;
  }
}

/*-- -------------------------- -->
<---         Our Team           -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #about-1451 {
    padding: var(--sectionPadding);
    padding-bottom: 14vw;
  }
  #about-1451 .cs-container {
    width: 100%;
    /* changes to 1280px at large desktop */
    max-width: 59rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* 48px - 100px */
    gap: clamp(3rem, 6vw, 6.25rem);
    position: relative;
    z-index: 1;
  }
  #about-1451 .cs-content {
    width: 100%;
    /* padding left and right added on tablet */
    padding: 0 0 4rem 0;
    /* prevents padding from affecting height and width */
    box-sizing: border-box;
    position: relative;
    z-index: 1;
  }
  #about-1451 .cs-info {
    width: 100%;
    /* 16px - 48px */
    padding: 0 clamp(1rem, 5vw, 3rem);
    /* prevents padding from affecting height and width */
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    /* 16px - 20px */
    gap: clamp(1rem, 2vw, 1.25rem);
    position: relative;
    z-index: 1;
  }
  #about-1451 .cs-info:before {
    /* grey background, moves to the cs-content at tablet */
    content: '';
    width: 100%;
    height: 85%;
    background: #F7F7F7;
    opacity: 1;
    position: absolute;
    display: block;
    bottom: 0;
    left: 0;
    z-index: -1;
  }
  #about-1451 .cs-header {
    font-size: var(--headerFontSize);
    line-height: 1.2em;
    text-align: inherit;
    font-weight: 900;
    /* 12px - 24px */
    margin: 0 0 clamp(0.75rem, 1.5vw, 1.5rem);
    color: var(--headerColor);
    display: block;
  }
  #about-1451 .cs-text {
    /* 14px - 16px */
    font-size: clamp(0.875rem, 1.5vw, 1rem);
    max-width: 43.75rem;
  }
  #about-1451 .cs-text {
    /* Override.  cs-topper cs-title and first cs-text should be removed and put into your global css sheet so it can control every instance of them on your site and is consistent. This selector is a section specific override that stays inside this stitch */
    margin-bottom: 1rem;
  }
  #about-1451 .cs-text:last-of-type {
    margin-bottom: 0rem;
  }
  #about-1451 .cs-picture {
    /* 100px - 200px */
    border-radius: 0 clamp(6.25rem, 17vw, 12.5rem) 0 clamp(6.25rem, 17vw, 12.5rem);
    box-shadow: 0px 4px 60px rgba(0, 0, 0, 0.16);
    /* clips the img tag corners */
    overflow: hidden;
    /* width and height changes at tablet */
    width: 85%;
    max-width: 21.875rem;
    height: 20.625rem;
    display: block;
    position: relative;
    z-index: 10;
  }
  #about-1451 .cs-picture img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* positions the top of the image to line up wiht the top of the parent */
    object-position: top;
    position: absolute;
    top: 0;
    left: 0;
  }
  #about-1451 .cs-floater {
    /* 100px - 192px */
    width: clamp(6.25rem, 15vw, 12rem);
    height: auto;
    display: none;
    position: absolute;
    right: 3.125rem;
    top: -4.6875rem;
  }
}
/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
  #about-1451 .cs-info {
    flex-direction: row;
    padding: 0;
  }
  #about-1451 .cs-info:nth-of-type(even) .cs-content {
    padding-left: 2.25rem;
    padding-right: 1.25rem;
  }
  #about-1451 .cs-info:nth-of-type(even) .cs-content:before {
    left: 0;
    right: auto;
  }
  #about-1451 .cs-info:nth-of-type(even) .cs-picture {
    /* sends it to the right in the 2nd position */
    border-radius: clamp(6.25rem, 17vw, 12.5rem) 0 clamp(6.25rem, 17vw, 12.5rem) 0;
    order: 2;
  }
  #about-1451 .cs-info:before {
    display: none;
  }
  #about-1451 .cs-content {
    /* 40px - 148px */
    margin-top: clamp(2.5rem, 7vw, 7.8125rem);
    /* 32px - 148px */
    padding: clamp(2rem, 10vw, 9.375rem) 2.25rem 4rem 1.25rem;
  }
  #about-1451 .cs-content:before {
    /* grey background */
    content: '';
    width: 120%;
    height: 100%;
    background: #F7F7F7;
    opacity: 1;
    position: absolute;
    display: block;
    bottom: 0;
    right: 0;
    z-index: -1;
  }
  #about-1451 .cs-picture {
    /* width and height changes again on larger desktop */
    width: 38%;
    max-width: 16.25rem;
    /* 260px - 348px */
    height: clamp(16.25rem, 36vw, 21.75rem);
  }
  #about-1451 .cs-floater {
    display: block;
  }
}
/* Large Desktop 1300px */
@media only screen and (min-width: 81.25rem) {
  #about-1451 .cs-container {
    max-width: 80rem;
  }
  #about-1451 .cs-info {
    align-items: stretch;
  }
  #about-1451 .cs-picture {
    height: auto;
    min-height: 43.5rem;
    width: 32.625rem;
    max-width: 32.625rem;
    margin-bottom: 4rem;
    /* prevents flexbox from squishing it */
    flex: none;
  }
}
/* Larger Desktop 1600px */
@media only screen and (min-width: 100rem) {
  #about-1451 .cs-info:nth-of-type(even) .cs-picture {
    margin-left: 0;
  }
  #about-1451 .cs-picture {
    margin-left: -5.5rem;
  }
}
                                